body{
  text-align:center;
  background:linear-gradient(#5592ad 0% ,#94ad55 100%)
}


h1{
  color:yellow;
  font-family:Comic Sans MS;
  font-size:300%;
}

p{
  color:navy;
  font-size:30px;
  
}

section{
  color:navy;
  font-size:30px;

}
  
img{
    height:60%;
    width:40%;
}

.link{
  list-style:none;
  font-family:Comic Sans MS;
  position:;
  top:10px;
  right:450px;
  z-index:10;
  curser:pointer;
}


.linl{
  float:center;
 color:gold;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:9px;
  padding-left:9px;
  font-family:cursive;
  font-size:50px;
  
}
.linl:hover{
  background-color:lightgreen;
  
}


#vid{
  color:#AD1457;
}







html{
  scroll-behaviour:smooth;
}


a{
  text-decoration:none;
}

#l:hover{
  color:#C2185B;
  
}



#GL{
    color:forestgreen;
}


img{

transition: transform .3s;

}


img:hover{
 
    transform: scale(0.8)
    
}